<!DOCTYPE html>
<html>
<head>
    <title>The Gettysburg Sequence</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 markdown-content img-rounded">
        <%- markdown %>
      </div>
    </div>
  </div>
</body>
</html>
