<!DOCTYPE html>
<html>
<head>
    <title>The Gettysburg Sequence</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  <div class="crisp-background">
    <div class="col-md-5 col-md-offset-2 title">
      <h1>The Gettysburg Sequence</h1>
      <em>This previously unpublished work was written by American poet Carl Franck, alias Mike Quill, from 1971-1972.</em>
    </div>
  </div>
  <div class="blur-background"
      data--33p-top="opacity: 0;"
      data--66p-top="opacity: 1;">
    <div class="col-md-6 col-md-offset-3 markdown-content img-rounded">
      <%- markdown %>
      <div class="footer">
        Transcribed by <a href="http://github.com/shackbarth/shackbarth.git">Steve Hackbarth</a>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="javascripts/skrollr.min.js"></script>
  <script type="text/javascript">
    skrollr.init();
  </script>
</body>
</html>
