centered()
  text-align: center
  margin-left: auto
  margin-right: auto
 

body
  background-color: #666666
  font-family: gotham
  font-size: 16px

.markdown-content
  background-color: #F0F0F0
  h1, h2, h3, h4, h5, h6, .footer
    centered()
  pre
    background-color: white
  blockquote
    font-family: garamond
    border-left: 0px
    p
      padding: 10px
      background-color: #FAEBD7
      font-family: courier
      font-size: 14px

.crisp-background
  background-image:url('../images/aubrect_2.jpg')
  background-position: center center
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
  height: 8%
  width: 100%
.blur-background
  background-image:url('../images/aubrect_blur.jpg')
  height: 100%
  opacity: 0
  z-index: 1
