body
  padding-top: 20px
  background-color: #666666
h1
  text-align: center
  margin-left: auto
  margin-right: auto
a
  color: #00B7FF
blockquote
  font-family: garamond
  border-left: 0px
.markdown-content
  background-color: white
.margin-base-vertical
  margin: 40px 0
