centered()
  text-align: center
  margin-left: auto
  margin-right: auto
 

body
  padding-top: 20px
  padding-bottom: 20px
  background-color: #666666
  font-family: gotham
  font-size: 16px

.markdown-content
  background-color: white
  h1, h2, h3, h4, h5, h6, .footer
    centered()
  pre
    background-color: white
  blockquote
    font-family: garamond
    border-left: 0px
    p
      padding: 10px
      background-color: #FAEBD7
      font-family: courier
      font-size: 14px
  .footer
    border-top: 1px solid

.margin-base-vertical
  margin: 40px 0
